# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Downloads.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\shutt\Downloads\.idea\.idea.Downloads.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
